@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	
}
header {
	position: relative;
	height: 50px;
}
nav {
	position: fixed;
	height: 50px;
	background: #212121;
	width: 100%;
	z-index: 2;
}
.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu_link {
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
	color: #FFFFFF;

}
.menu .menu_item {
	border-right: 2px dashed black;
	padding:0 5px 0 5px;
	}
.subheader {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 87px;
	background: rgba(0,0,0,0.6);
  
	}
.subheader .subheader_logo {
	display: block;
	width: 100%;
	margin-top: 16px;
}
.subheader .subheader_official {
	margin-top: 6px;
	font-weight: 100;
	font-size: 13px;
	color: #FFFFFF;
	opacity: 0.5;
}
.subheader_call {
	margin-top: 19px;
	font-weight: 300;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	
}
.subheader_phone {
	display: block;
	font-size: 18px;
	
	color: #FFFFFF;
	text-align: right;
	line-height: 24px;
	font-weight: 400;
}
.subheader_btn {
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0, 0.12);
	background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 14px;
	}
.promo {
	 min-height: 800px;
	 background: url('../img/uber_bg.jpg') center center/cover no-repeat;
	 padding: 150px 0 135px 0;
 }
 .promo .promo_header {
	font-weight: 700;
	font-size: 60px;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 60px;
	margin: 0;
	text-align: center;
 }
 .promo .promo_subheader {
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 36px;
	margin: 0;
	margin-top: 22px;
	text-align: center;
	}
.promo .promo_descr {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	margin-top: 23px;
	}
.promo .promo_btn {
	display: block;
	margin: 118px auto 0 auto;
	width: 259px;
	height: 63px;
	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	border:none;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	}
.reasons {
	padding: 35px 0 32px 0;
	}
.label {
	margin: 0 auto;
	width: 112px;
	height: 24px;
	font-size: 11px;
	color: #FFFFFF;
	background: #000000;
	text-transform: uppercase;
	font-weight: 300;
	padding: 5px 12px;
	}

.reasons h2.title {
	margin-top: 38px;
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
}	
.reasons .reason_block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.reasons .reason_block .reason_round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 26px;
	width: 113px;
	height: 113px;
	background-color: #1EACC7;
	border-radius: 100%;
}
.reasons .reason_block .reason_descr {
	width: 343px;
}

.reasons .reason_block .reason_descr .reason_subtitle {
	line-height: 21px;
	color: #1eacc7;
	font-size: 17px;
	font-weight: 400;
}
.reasons .reason_block .reason_descr .reason_text {
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	color: #202020;
}
	




